beautifulsoup4
flashtext
google-api-python-client
gTTS
httplib2
mechanize
oauth2client
pdfminer
Pillow
playsound
plyer
PyAutoGUI
PyPDF2
pytesseract
pyttsx3
pytz
PyYAML
requests
selenium

wikipedia
wolframalpha
PySimpleGUI
setuptools